description=Time of flight board programming service
StartLimitIntervalSec=10

[Unit]
After=config-pipe.service

[Service]
Type=forking
Restart=always
RestartSec=5
User=root
ExecStart=/home/linaro/workspace/github/aditof_sdk/build/apps/daemon/aditof-daemon

[Install]
WantedBy=multi-user.target
