description=Service for starting Time of Flight network server
StartLimitIntervalSec=10

[Unit]
After=NetworkManager.service

[Service]
User=root
ExecStart=/home/analog/workspace/github/aditof_sdk/build/apps/server/aditof-server

[Install]
WantedBy=multi-user.target
